{{#partial "content"}}
<h2>Welcome to wildlife tracker</h2>
   <a href="/info"> <button>Info</button></a>
    <a href="/sightings/new"><button>Sighting</button></a>
    <a href="/sightings"><button>All</button></a>
    <a href="/locations">Locations</a>
{{/partial}}
{{> layout.hbs}}